[Settings]
Secret = 9hTAqjcj!Z2XGH0q   ; Secret key for [Passwords] section.

; Each new line should be separated by the \n character.
ShippingAddress = John Doe\n123 Elm Street\nSpringfield\nIL\n62701\nUSA\n(555) 123-4567\njohn.doe@example.com

; Encoding algorithm: RC4-Base64 (using `[Settings]->Secret`)
[Passwords]
1 = Kb3MjdK4o1Kr        ; "password1"
2 = Kb3MjdK4o1Ko        ; "password2"
3 = Kb3MjdK4o1Kp        ; "password3"
