[Settings]
Secret = 9hTAqjcj!Z2XGH0q   ; Secret key for [Passwords] section.
Email = john.doe@example.com

; Each new line should be separated by the \n character.
ShippingAddress = John Doe\n123 Elm Street\nSpringfield\nIL\n62701\nUSA\n(555) 123-4567\njohn.doe@example.com

; Encoding algorithm: RC4-Base64 (using `[Settings]->Secret`)
[Passwords]
Google = Kb3MjdK4o1Kr		; "password1"
Facebook = Kb3MjdK4o1Ko		; "password2"
GitHub = Kb3MjdK4o1Kp		; "password3"

[UserSignatures]
EN = --\nBest regards,\nJohn Doe\n
PL = --\nPozdrawiam,\nJohn Doe\n