[Settings]
Secret = xxxxxxxxxxxxxxxx   ; Secret key for [Passwords] section.
Email = john.doe@example.com

[UserSignatures]
EN = --\nBest regards,\nJohn Doe\n
PL = --\nPozdrawiam,\nJohn Doe\n

[AutoPaste]
; Example entry showing how to auto paste content when a matching Notepad window is detected.
;ExampleNotepad = {"exe":"notepad.exe","title":"Untitled - Notepad","text":"Hello from AutoPaste!"}
